# SparkSQL assignment with Python
## José Vicente Mellado

### Reading file

In [ ]:
## No need to run these lines, everything has been configured in spark-env.sh

#import findspark
#findspark.init('/spark_dir')

##Configuramos el sparksession
#import pyspark
#from pyspark.sql import SparkSession

#spark = (SparkSession.builder
#         .master('local[*]')
#         .config('spark.driver.cores', 1)
#         .appName('estudio_spark')
#         .getOrCreate()
#        )
##obtenemos el sparkcontext a partir del sparksession
#sc = spark.sparkContext

In [12]:
from pyspark.sql.types import *

st = StructType([
        StructField('ID', LongType(), True),
        StructField('PARENT-SYS-ID', StringType(), True),
        StructField('Source', StringType(), True),
        StructField('Mentions', StringType(), True),
        StructField('Target', StringType(), True),
        StructField('NAME Source', StringType(), True),
        StructField('BODY', StringType(), True),
        StructField('PUBDATE', TimestampType(), True),
        StructField('URLs coma separated', StringType(), True),
        StructField('Type TW-RT-MT', StringType(), True),
        StructField('LINK', StringType(), True),
        StructField('n1 Link', ByteType(), True),
        StructField('n1 Picture', ByteType(), True),
        StructField('PERSONAL-WEBSITE', StringType(), True),
        StructField('COUNTRY', StringType(), True),
        StructField('ALL-NICK-ACTIVITY-EVER', LongType(), True),
        StructField('NICK-FOLLOWERS', LongType(), True),
        StructField('FRIENDS-FOLLOWING-AUDIENCE', LongType(), True),
        StructField('LOCATION', StringType(), True)
    ]
)

#https://spark.apache.org/docs/2.0.0-preview/api/python/pyspark.sql.html#pyspark.sql.DataFrameReader
df = spark.read.csv('tweets.csv', 
                    header=True, 
                    sep='\t',
                    schema=st,
                    timestampFormat='dd/MM/yyyy HH:mm',
                    mode='PERMISSIVE')

### Unique mentions

In [13]:
from pyspark.sql.functions import udf

def list_to_string(l):
    if l != None:
        return str(l).replace('[','').replace(']','').replace('\'','').replace(' ', '')

def remove_duplicates(list_string):
    if list_string != None:
        return list(filter(lambda x: len(x)>0, list(set(list_string.split(',')))))

only_uniques = udf(lambda row: list_to_string(remove_duplicates( row )) if row != None else None, StringType())


df = df.withColumn('Mentions', 
                    only_uniques(df['Mentions'])
                  )

### a) Contabilizar el número total de menciones a los pilotos Marc Márquez, Valentino Rossi y Dani Pedrosa.

In [14]:
from pyspark.sql.functions import explode, split

(df.select('Mentions')
 .filter(df['Mentions'].like('%marcmarquez93%') | 
         df['Mentions'].like('%valeyellow46%') | 
         df['Mentions'].like('%26_danipedrosa%'))
 .select(explode((split('Mentions', ','))).alias('Accounts'))
 .filter('''Accounts = 'marcmarquez93' or 
            Accounts = 'valeyellow46' or 
            Accounts = '26_danipedrosa'
         ''')
 .groupBy('Accounts')
 .count()
 .show()
)

+--------------+-----+
|      Accounts|count|
+--------------+-----+
| marcmarquez93|58027|
|26_danipedrosa|12341|
|  valeyellow46|61103|
+--------------+-----+

### b) Contabilizar los 5 países que más tweets han publicado (considerando los tweets que contengan dicha información).

In [15]:
(df.select('COUNTRY')
 .filter(df['COUNTRY'] != 'not public')
 .groupBy('COUNTRY')
 .count()
 .orderBy('count', ascending=False)
 .take(5)
)

[Row(COUNTRY='es', count=172577),
 Row(COUNTRY='us', count=12722),
 Row(COUNTRY='gb', count=12588),
 Row(COUNTRY='id', count=8725),
 Row(COUNTRY='it', count=1843)]

### c) Contabilizar los 3 hashtags más utilizados (que aparezcan el mayor número de veces) en el cuerpo de los tweets (campo "body").

In [16]:
(df.select('BODY')
 .filter(df['BODY'].like('%#%'))
 .select(explode((split('BODY', ' '))).alias('Words'))
 .filter("Words like '#%'")
 .groupBy('Words')
 .count()
 .orderBy('count', ascending=False)
 .take(3)
)

[Row(Words='#motogp', count=51959),
 Row(Words='#qatar', count=9976),
 Row(Words='#moto3', count=5797)]

## Spark Streaming

# Please run first the following lines: 



cd ./kafka_2.11-0.10.2.0/
./bin/zookeeper-server-start.sh ./config/zookeeper.properties

./bin/kafka-server-start.sh ./config/server.properties

cd ./sparksql-sparkstreaming-kafka

python ./timestamp_kafka_producer.py Quatar_GP_2014 ./tweets.csv

### The following lines were provided by the teachers

In [42]:
from __future__ import print_function
from pyspark.streaming import StreamingContext
from pyspark.streaming.kafka import KafkaUtils
from operator import add
from operator import sub

ssc = StreamingContext(sc, 5) # 5 seconds

kafkaBrokerIPPort = "127.0.0.1:9092"

import kafka

class KafkaProducerWrapper(object):
  producer = None
  @staticmethod
  def getProducer(brokerList):
    if KafkaProducerWrapper.producer != None:
      return KafkaProducerWrapper.producer
    else:
      KafkaProducerWrapper.producer = kafka.KafkaProducer(bootstrap_servers=brokerList, key_serializer=str.encode, value_serializer=str.encode)
      return KafkaProducerWrapper.producer
 
def sendMetrics(itr):
  prod = KafkaProducerWrapper.getProducer([kafkaBrokerIPPort])
  for m in itr:
    prod.send("metrics", key=m[0], value=m[0]+","+str(m[1]))
  prod.flush()

In [43]:
import ujson

topic_name = 'Quatar_GP_2014'

kafkaParams = {"metadata.broker.list": kafkaBrokerIPPort}
stream = KafkaUtils.createDirectStream(ssc, [topic_name], kafkaParams)
stream = stream.map(lambda o: ujson.loads(o[1]))

### a) Calcular el número total de menciones recibidas por cada cuenta de usuario durante el intervalo de 5 segundos.

In [44]:
def update_func(new_val, last_sum):
    return sum(new_val) + (last_sum or 0)

ssc.checkpoint("checkpoint")

counts = (stream.map(lambda line: (line['Type TW-RT-MT'], 1))
          .updateStateByKey(update_func))

counts.pprint()

In [45]:
ssc.start()

-------------------------------------------
Time: 2017-06-14 16:19:50
-------------------------------------------
('RT', 44)

-------------------------------------------
Time: 2017-06-14 16:19:55
-------------------------------------------
('RT', 74)

-------------------------------------------
Time: 2017-06-14 16:20:00
-------------------------------------------
('MT', 14)
('TW', 1)
('RT', 93)

-------------------------------------------
Time: 2017-06-14 16:20:05
-------------------------------------------
('MT', 39)
('TW', 5)
('RT', 94)

-------------------------------------------
Time: 2017-06-14 16:20:10
-------------------------------------------
('MT', 40)
('TW', 8)
('RT', 132)

-------------------------------------------
Time: 2017-06-14 16:20:15
-------------------------------------------
('MT', 40)
('TW', 8)
('RT', 169)

-------------------------------------------
Time: 2017-06-14 16:20:20
-------------------------------------------
('MT', 40)
('TW', 8)
('RT', 205)

-------------------------------------------
Time: 2017-06-14 16:20:25
-------------------------------------------
('MT', 58)
('TW', 9)
('RT', 217)

-------------------------------------------
Time: 2017-06-14 16:20:30
-------------------------------------------
('MT', 68)
('TW', 20)
('RT', 226)

-------------------------------------------
Time: 2017-06-14 16:20:35
-------------------------------------------
('MT', 68)
('TW', 20)
('RT', 263)

-------------------------------------------
Time: 2017-06-14 16:20:40
-------------------------------------------
('MT', 68)
('TW', 20)
('RT', 293)

-------------------------------------------
Time: 2017-06-14 16:20:45
-------------------------------------------
('MT', 68)
('TW', 20)
('RT', 322)

-------------------------------------------
Time: 2017-06-14 16:20:50
-------------------------------------------
('MT', 96)
('TW', 26)
('RT', 323)

-------------------------------------------
Time: 2017-06-14 16:20:55
-------------------------------------------
('MT', 100)
('TW', 32)
('RT', 347)

-------------------------------------------
Time: 2017-06-14 16:21:00
-------------------------------------------
('MT', 100)
('TW', 32)
('RT', 381)

-------------------------------------------
Time: 2017-06-14 16:21:05
-------------------------------------------
('MT', 100)
('TW', 32)
('RT', 405)

-------------------------------------------
Time: 2017-06-14 16:21:10
-------------------------------------------
('MT', 100)
('TW', 32)
('RT', 439)

-------------------------------------------
Time: 2017-06-14 16:21:15
-------------------------------------------
('MT', 112)
('TW', 42)
('RT', 447)

-------------------------------------------
Time: 2017-06-14 16:21:20
-------------------------------------------
('MT', 112)
('TW', 42)
('RT', 477)

-------------------------------------------
Time: 2017-06-14 16:21:25
-------------------------------------------
('MT', 112)
('TW', 42)
('RT', 513)

-------------------------------------------
Time: 2017-06-14 16:21:30
-------------------------------------------
('MT', 112)
('TW', 43)
('RT', 547)

-------------------------------------------
Time: 2017-06-14 16:21:35
-------------------------------------------
('MT', 140)
('TW', 49)
('RT', 547)

-------------------------------------------
Time: 2017-06-14 16:21:40
-------------------------------------------
('MT', 144)
('TW', 53)
('RT', 571)

-------------------------------------------
Time: 2017-06-14 16:21:45
-------------------------------------------
('MT', 144)
('TW', 53)
('RT', 604)

-------------------------------------------
Time: 2017-06-14 16:21:50
-------------------------------------------
('MT', 146)
('TW', 55)
('RT', 633)

In [41]:
ssc.stop(False)